node_modules
.git
.gitignore
dist
.next
coverage
.env
.env.local
.env.example
*.log
.DS_Store
.turbo
.vercel
apps/api/dist
apps/web
apps/admin
apps/api/src/generated
**/*.spec.ts
**/*.test.ts
docker-compose.yml
